body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 58, 90);
}

.main{
    margin-top: 50px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding: 20px;
    gap: 10px;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.screen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    background-color: black;
    flex: 0.2;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 54px;
}

.buttons-grid{
    flex: 0.8;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

#clearBtn,
#deleteBtn{
    grid-column: span 2;
}

.btn{
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btn-operator{
    background-color: rgb(46, 84, 116);
}

.btn:hover{
    background-color: rgb(88, 170, 238);
}

.btn:active{
    background-color: rgb(89, 180, 255);
}

.btn-operator:hover{
    background-color: rgb(92, 149, 196);
}

.btn-operator:active{
    background-color: rgb(102, 166, 219);
}

footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;
    color: white;    
}